---
import type { GetStaticPaths } from "astro";
import Layout from "@layouts/main.astro";
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";

export const getStaticPaths = ( async () => {
    
    const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
    const {results} = await resp.json() as PokemonListResponse;
    
    return results.map((pokemon) => {
		const id = pokemon.url.split("/").at(-2);
        return {
            params: {
                id: id,
        },
        props: {
            name: pokemon.name,
            url: pokemon.url,
			id: id
        }
    }
    });
}) satisfies GetStaticPaths;

const {id} = Astro.params;
const {name, url} = Astro.props;
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<Layout title={name}>
    <section class="mt-10 mx-10 flex flex-col items-center justify-center gap-5">
        <div>
            <a class="hover:underline text-blue-500" href="/">Volver</a>
            <h1 class="text-3xl capitalize">{name}</h1>
        </div>  
    </section>

    <PokemonCard name={name} url={url} isBig/>
    <div class="flex justify-center">
        <audio controls class="mt-5">
            <source src={audioSrc} type="audio/ogg" />
            Tu navegador no soporta el elemento audio.
        </audio>
    </div>
</Layout>
